name: Sync RustDesk to Gitee

on:
  schedule:
    - cron: '0 16 * * *'
  workflow_dispatch:

jobs:
  Sync:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout GitHub Repository
        uses: actions/checkout@v6
        with:
          repository: rustdesk/rustdesk
          ref: master
          fetch-depth: 0
          fetch-tags: true

      - name: Add Gitee and GitCode to SSH known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H gitee.com >> ~/.ssh/known_hosts
        shell: /usr/bin/bash -e {0}

      - name: Configure SSH key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_GITEE }}

      - name: Sync to Gitee (with Gitee exclusive user info)
        run: |
          git config user.name "ffishh"
          git config user.email "15909218+ffishh@user.noreply.gitee.com"
          git remote add gitee git@gitee.com:ffishh/rustdesk.git
          git push --mirror gitee
          git remote remove gitee
